<html>
<head>
<title>G2 Real-Time Information Wall</title>
<style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
    </style>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/dark-hive/jquery-ui.css" rel="Stylesheet" />    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"/></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"/></script>
    <script>
    $(function() {
        $(".dragStar").draggable();
        $(".resizeStar").resizable();
        $("#storeNews").load("./googleTopTechNews");
        $("#tweets").load("./tweets/DoD");
        $("#news marquee").load("./news");
        //$("#news").marquee(); //perhaps later
        //$("#googleTrends").load("./googleTop10Trends"); perhaps later        
                
        //give the above time to load before populating the left pane, this is a super hack but I dont have time to parse this properly in JS
        setTimeout(function() {
        $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
        $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
        },1500);
        
        //refresh tweeties every 60 seconds  (in the future we'll probably want to do multiple pages per refresh to ensure no duplicare reloads.)
        setInterval(function() {
             $("#tweets").fadeOut();
             $("#tweets").load("./tweets/DoD");
             $("#tweets").fadeIn();
            }, 60000);

        setInterval(function() {
          $("#news marquee").load("./news");
          //$("#news").marquee();
          console.log("in update");
        }, 60000);



        
	});
	</script>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
    var ge;
    google.load("earth", "1");

    function init() {
      google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
      ge = instance;
      ge.getWindow().setVisibility(true);
    }

    function failureCB(errorCode) {
    }

    google.setOnLoadCallback(init);
   
    
  </script>
  
  <title>Sample</title>
</head>
<body style="margin: 0; padding: 0; background-color: black; font-family: Helvetica; font-size: 90%;">

<div id="storeNews" style="visibility:hidden; height:1px; width:1px;"></div>

<div id="wrapper1" style="width: 25%; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="googleTechNews"></div>
</div>

<div id="wrapper2" style="float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="map3d" style="height: 400px; width: 600px;"></div>
</div>

<div id="wrapper3" style="width: 25%; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="tweets"></div>
</div>

<div id="wrapper4" style="width: 25%; float: left; padding: 10px; visibility:hidden;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="googleTrends"></div>
</div>
<div id="wrapper5" style="width: 25%; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">

    <div id="news"><marquee behavior="scroll" direction="left" scrollamount="4" width="90%"></marquee></div>
</div>

</body>
</html>

