<html>
<head>
<style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
    </style>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/dark-hive/jquery-ui.css" rel="Stylesheet" />    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"/></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"/></script>
    <script>
    $(function() {
    	$(".dragStar").draggable();
        $(".resizeStar").resizable();
        $("#googleTrends").load("./googleTop10Trends");
        $("#tweets").load("./tweets/darpa");
	});
	</script>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
    var ge;
    google.load("earth", "1");

    function init() {
      google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
      ge = instance;
      ge.getWindow().setVisibility(true);
    }

    function failureCB(errorCode) {
    }

    google.setOnLoadCallback(init);
   
    var ele = document.getElementById("map3d").inner;
    var results = <%-twitter_results%>;
    
    ele.append("<ul>");
    ele.append("<li>hi");
    ele.append("</ul>");
   
    console.log(results.results);
    
  </script>
  
  <title>Sample</title>
</head>
<body style="margin: 0; padding: 0; background-color: black;">
<div id="wrapper1" style="width: 25%; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="googleTrends"></div>
</div>

<div id="wrapper2" style="float: left; padding: 10px" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="map3d" style="height: 400px; width: 600px;"></div>
</div>

<div id="wrapper3" style="width: 25%; float: left; padding: 10px" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="tweets"></div>
</div>


</body>
</html>