<!DOCTYPE html>
<html>
<head>
  <title>G2 Real-Time Information Wall</title>
  <link type="text/css" href="/static/css/main.css" rel="stylesheet" />
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/dark-hive/jquery-ui.css" rel="Stylesheet" />

  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="/static/js/googleEarth.js"></script>
  <script type="text/javascript" src="/static/js/jquery.awesomeCloud-0.2.MODIFIED.js"></script>
  <script type="text/javascript" src="/static/js/layout.js"></script>
  <script>

var g_event = {}; // Empty element to handle our custom events.
var g_keywords = [];
var g_twitterStreamSource = null;

function startTwitterStream() {
  // Close the connection if it exists.
  if(g_twitterStreamSource) g_twitterStreamSource.close();
  
  var url = '/twitterStream?keywords=' + escape(g_keywords.join());
  var source = g_twitterStreamSource = new EventSource(url);
  source.addEventListener('message', function (e) {
    var tweet = $.parseJSON(e.data);

    // Note "<" + "/xx>"" tags seperated to comply with HTML W3 specs.
    var div = "<div class='newtweet tweet' style='display: none;'>"+
                "<img class='tweet-pic' src='" + tweet.img_url + "'/>"+
                "<div class='tweet-text'>"+
                  "<span class='tweet-user'>" + tweet.user + "<" + "/span><br />"+
                  "<span>" + tweet.text + "<" + "/span>"+
                "<" + "/div>"+
              "<" + "/div>";
    $("#tweets").prepend(div);
    $(".newtweet").show("slide", {
      direction: "up"
    }, 1000).removeClass("newtweet");

    // Remove excess tweeets
    $("#tweets").children().slice(15).remove();
  }, false);
}
$(g_event).on('newKeywords', startTwitterStream);

// Display Keywords on notice that there's new ones.
function displayKeywords(){
  var html = '';
  for(var i = 0; i < g_keywords.length; i++){
    html += "<span class='search-term' style='height: " + ($("#level1top").height() - 20) + "px;'>" + g_keywords[i] + "<" + "/span>";
  }
  $("#keywordsSpans").html(html);
  $("#searchTerms").val(g_keywords.join());
}
$(g_event).on('newKeywords', displayKeywords);


function startFlickrStream(){
  $("#slideshow").html('');
  flickrUrl = "./flickr?keywords=" + escape(g_keywords.join()) + "&tagMode=any";
  $("#slideshow").load(flickrUrl);

  // *************SLIDESHOWS**********************
  setInterval(function () {
    var $active = $('#slideshow IMG.active');

    if($active.length == 0) $active = $('#slideshow IMG:last');

    // use this to pull the images in the order they appear in the markup
    var $next = $active.next().length ? $active.next() : $('#slideshow IMG:first');

    // uncomment the 3 lines below to pull the images in random order
    // var $sibs  = $active.siblings();
    // var rndNum = Math.floor(Math.random() * $sibs.length );
    // var $next  = $( $sibs[ rndNum ] );
    $active.addClass('last-active');

    $next.css({
      opacity: 0.0
    }).addClass('active').css("max-width", $('#slideshow').width()).css("max-height", $('#slideshow').height()).animate({
      opacity: 1.0
    }, 1000, function () {
      $active.removeClass('active last-active');
    });
    // $active.hide();
    // $next.show();
  }, 10000);
}
$(g_event).on('newKeywords', startFlickrStream);


var getGoogleNews = function(){
  if(!google.search) return;
  var googleNewsSearch = new google.search.NewsSearch();
  googleNewsSearch.setSearchCompleteCallback(this, function(){
      if(googleNewsSearch.results && googleNewsSearch.results.length > 0){
        $("#googleNews").html('');
        for(var i = 0; i < googleNewsSearch.results.length; i++){
            $("#googleNews").append("<div class='news-story'><a href='"+googleNewsSearch.results[i].url+"'>"+googleNewsSearch.results[i].title+"</a><br /><span>"+googleNewsSearch.results[i].content+"</span></div>");
            //google.search.Search.getBranding('googleBranding');
        }
      }

      console.log(googleNewsSearch);
    }, null);

    googleNewsSearch.setResultSetSize(8);
    googleNewsSearch.execute(g_keywords);
}
$(g_event).on('newKeywords', getGoogleNews);

var doWordcloud = function(){
    $.getJSON("/getWordCloudWords/", function(data, text, obj){
      if(data){
        var wordCloudSettings = {
  size: { normalize: true },
  shape: "circle",
  font: "Helvetica, Arial, Sans",
  options: {
    color: "random-light",
    rotationRatio: 0,
    sort: "highest"
  }
};

        var el = $("#wordcloud");
        el.html('');
        for(var i = 0; i < data.length; i++){
          el.append("<span data-weight='" + data[i].count + "' style='display: none;'>" + data[i].word + "</span>");
        }
        el.awesomeCloud(wordCloudSettings);
    }
  });
}

var tweetOnMap = function() {
  try {
    $.getJSON('/getGeoTweet', function (t) {
      if(!t) {
        console.log("INFO: Didn't Get GeoTweet Response.");
        return;
      }

      // Create div
      var d = $('<div style="max-width: 500px; margin: 10px;"><table><tr><td><img class="tweet-pic" src="' + t.user.profile_image_url + '"/></td>' + '<td><span style="font-size:large;"><b>' + t.user.name + '</b>:' + t.text + '</span></td></tr>' + '<tr><td colspan="2"><span style="font-size:small;">Posted from ' + t.address + '</span></td></tr><tr><td colspan="2">' + t.created_at + '</td></tr>' + '</table></div>');

      // Extract Lat/Long for convenience.
      var lat = t.coordinates.coordinates[1];
      var lng = t.coordinates.coordinates[0];

      // Put tweet on map.
      geNewPoint(geWidget, {
        balloonDiv: d[0],
        flyTo: true,
        lat: lat,
        lng: lng
      });
    });
  } catch(e) {
    console.log(e);
  }
}

var sendKeywords = function(){
    $.getJSON('/getActiveKeywords', function(wordsFromServer){
        var toActivate = [];
        var toActivateString = '';
        var toDeactivate = [];
        var toDeactivateString = '';

        console.log("KE: ", g_keywords);
        for(var i = 0; i < g_keywords.length; i++){
          if($.inArray(g_keywords[i], wordsFromServer) == -1){
            toActivate.push(g_keywords[i]);
          }
        }

        for(var i = 0; i < wordsFromServer.length; i++){
          if($.inArray(wordsFromServer[i], g_keywords) == -1){
            toDeactivate.push(wordsFromServer[i]);
          }
        }

        toActivateString = toActivate.join();
        toDeactivateString = toDeactivate.join();
        console.log("ToAct: ", toActivateString);
        console.log("ToDeAct: ", toDeactivateString);

        $.get("/activateKeywords?keywords=" + escape(toActivateString));
        $.get("/deactivateKeywords?keywords=" + escape(toDeactivateString));
      });
  }

//Everything in this functions runs immediately on load
$(function () {
  // Close Twitter Stream from Server
  // ! Do we need this? Does it happen automagically on page unload?
  $(window).unload(function () {
    g_twitterStreamSource.close();
  });

  setInterval(tweetOnMap, 30000);
  $(g_event).on('newKeywords', sendKeywords);

  setTimeout(getGoogleNews, 30 * 6000);

  // Update WordCloud every 90 sec
  setInterval(doWordcloud, 90 * 1000);
  doWordcloud(); // Also generate at page load

  $("#changeSearchTermsButton").height(($("#level1top").height() - 20));
  $("#changeSearchTermsButton").button().click(function (event) {
    event.preventDefault();
    $("#map3d").hide();
    $("#wordcloud").hide();
    $("#dialog-form").dialog("open");
  });

  // Reload page every 10 minutes.
  setTimeout(function(){
    location.reload();
  }, 600000);

  google.load('search', '1', {callback: getGoogleNews});
  
  $("#dialog-form").dialog({
    autoOpen: false,
    show: "fade",
    hide: "fade",
    height: 300,
    width: 500,
    modal: true,
    buttons: {
      "Submit": function () {
        var terms = $("#searchTerms").val();
        terms = terms.replace(/,\s/g, ','); // Remove spaces after a comma.
        $(this).dialog("close");

        g_keywords = terms.split(",");
        g_keywords.sort();
        console.log(g_keywords);
      },
    },
    close: function () {
      $("#map3d").show();
      $("#wordcloud").show();

      // Notifty Listeners
      $(g_event).trigger('newKeywords');
    }
  });

  
  


  // Get the server's current active keywords.
  $.getJSON('/getActiveKeywords', function(data){
    if(g_keywords != data){
      g_keywords = data;
      $(g_event).trigger('newKeywords');
    }
  });
});
  </script>
</head>
<body style="background-color: black;">
  <div id="level1top" class="">
    <div id="keywordsContainer" class="content-wrapper">
    <div id="keywordsSpans">
    </div>
    <input id='changeSearchTermsButton' type="submit" style="float: right;" value="Change Search Terms"/>
    </div>
  </div>
  <div id="level1middle" style="">
    <div id="level2left" style="float: left;">
      <div id="googleNews" class="content-wrapper"></div>
    </div>
    <div id="level2middle" style="float: left;">
      <div id="level3top" style="">
        <div id="map3d" class="content-wrapper"></div>
      </div>
      <div id="level3bottom" style="">
        <div id="level4left" style="float: left;">
          <div id="slideshow" class="content-wrapper"></div>
        </div>
        <div id="level4right" style="float: left;">
          <div id="wordcloud" class="content-wrapper"><span>Accumulating Words for Cloud...</span>  </div>
        </div>
      </div>
    </div>
    <div id="level2right" style="float: right;">
      <div id="tweets" class="content-wrapper">
      </div>
    </div>
  </div>
  <div id="level1bottom">
    <div class="content-wrapper">
      <span style="color:#dd3333; font-size:x-large; font-weight:bold; position: relative; top: 10px;">#Breaking News</span>
    </div>
    <div id="news" style="float:right;"><marquee behavior="scroll" direction="left" scrollamount="8"></marquee></div>
  </div>
  <!-- Hidden Divs -->
  <div id="storeNews" style="visibility:hidden; height:1px; width:1px;"></div>
  <div id="hidden" style="width: 25%; float: left; padding: 10px; visibility:hidden;">
    <div id="googleTrends"></div>
  </div>
  <div id="mapTweet" style="visibility:hidden;"></div>
  <div id="dialog-form" title="Areas of Interest">
    <p class="validateTips">Use commas between multiple interests</p>
    <form>
      <fieldset>
        <label for="keywords">Enter Interest(s):</label>
        <input type="text" name="searchTerms" id="searchTerms" style="width: 100%;" class="text ui-widget-content ui-corner-all" />
      </fieldset>
    </form>
  </div>
</body>
</html>