<html>
<head>
<title>G2 Real-Time Information Wall</title>
<style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
    #slideshow {
        position:relative;
        height:350px;
    }

    #slideshow IMG {
        position:absolute;
        top:0;
        left:0;
        z-index:8;
        opacity:0.0;
    }

    #slideshow IMG.active {
        z-index:10;
        opacity:1.0;
   }

    #slideshow IMG.last-active {
        z-index:9;
    }

    </style>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/dark-hive/jquery-ui.css" rel="Stylesheet" />    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"/></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"/></script>
    <script>
    var geoTweets = {};
    var twitterEarthTerms = [
  ["internet"],["cybersecurity"],["hackers"],["hacking"],["hacktivism"],["scada"],["internet"],["information security"],["network security"],["sentiment analysis"],
  ["information analysis"],["information visualization"],["security visualization"],["linux"],["java"],["c++"],["network sockets"],["0-day"],["0day"],
  ["defcon"],["blackhat"],["computer virus"],["malware"],["information security professionals"],["military industial complex"]];
    
  //flickrTerms can be a comma separated list
  flickrTerms = "Libya";
  flickrTagMode = "all";
  flickrUrl = "./flickr/"+flickrTerms+"/"+flickrTagMode;
    $(function() {
        $(".dragStar").draggable();
        $(".resizeStar").resizable();
        $("#storeNews").load("./googleTopTechNews");
        $("#tweets").load("./tweets/Cybersecurity");
        $("#gohere").load("./twitter-earth");
        $("#news marquee").load("./news");
	$("#slideshow").load(flickrUrl);
        //$("#news").marquee(); //perhaps later
        //$("#googleTrends").load("./googleTop10Trends");   
                
        
  //lets grab some tweets for use in gearth... not so fast
       $.ajax({     
   url: './geoTweets/Cybersecurity',
   dataType: 'json'
  }).done(function( data ) {
  geoTweets = data;
  });


// *************SLIDESHOWS**********************
    setInterval( function() {
    var $active = $('#slideshow IMG.active');
    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');

    // use this to pull the images in the order they appear in the markup
    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');

    // uncomment the 3 lines below to pull the images in random order

    // var $sibs  = $active.siblings();
    // var rndNum = Math.floor(Math.random() * $sibs.length );
    // var $next  = $( $sibs[ rndNum ] );


    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
   $next.show();
  $active.hide(); 
}, 3000 );

      
        //give the above time to load before populating the left pane, this is a super hack but I dont have time to parse this properly in JS
        setTimeout(function() {
        $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
        $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
  //since we are only pulling google tech news for now, nice for the viewer to know this
  $(".title").prepend("Technology ")
        },3000);
  
        
        //refresh tweeties every 120 seconds  (in the future we'll probably want to do multiple pages per refresh to ensure no duplicare reloads.)
        setInterval(function() {
             $("#tweets").fadeOut();
             $("#tweets").load("./tweets/Cybersecurity");
             $("#tweets").fadeIn();
            }, 120000);

        setInterval(function() {
          $("#news marquee").load("./news");
          //$("#news").marquee();
          
        }, 120000);

  
  //pull in our initial google earth tweet after 4 seconds
  setTimeout(function() {
        setNewTweet(twitterEarthTerms[Math.floor(Math.random()*twitterEarthTerms.length)]);
        }, 4000);

  setTimeout(function() {
    $("#storeNews").load("./googleTopTechNews");
    $("#googleTechNews").fadeOut();
    $("#googleTechNews").html('');
    $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
    $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
    $("#googleTechNews").fadeIn();
    }, 4000);

  
  //pull in new google earth tweet every 30 seconds (without authenticating we can only do about 1 request every 24 seconds)
  setInterval(function() {
        setNewTweet(twitterEarthTerms[Math.floor(Math.random()*twitterEarthTerms.length)]);
        }, 30000);


  //refresh google news every 1 hour
  setInterval(function() {
      $("#storeNews").load("./googleTopTechNews");
      $("#googleTechNews").fadeOut();
      $("#googleTechNews").html('');
      $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
      $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
      $("#googleTechNews").fadeIn();
      }, 600000);


        
  });
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
    var ge;
    google.load("earth", "1");
    
    function init() {
      google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
      ge = instance;
      ge.getWindow().setVisibility(true);
      newPoint(ge,39.125,-76.788);
    }

    function failureCB(errorCode) {
    }

    google.setOnLoadCallback(init);
       
function newPoint(ge,lat,lon){

// Create the placemark.
var placemark = ge.createPlacemark('');
placemark.setName("G2, Inc.");

// Define a custom icon.
var icon = ge.createIcon('');
icon.setHref('http://g2-inc.com/sites/all/themes/g2website/images/g2logo.png');
var style = ge.createStyle('');
style.getIconStyle().setIcon(icon);
style.getIconStyle().setScale(3.0);
placemark.setStyleSelector(style);

// Set the placemark's location.  
var point = ge.createPoint('');
point.setLatitude(lat);
point.setLongitude(lon);
placemark.setGeometry(point);

// Add the placemark to Earth.
ge.getFeatures().appendChild(placemark);

// Get the current view.
var lookAt = ge.getView().copyAsLookAt(ge.ALTITUDE_RELATIVE_TO_GROUND);

// Set new latitude and longitude values.
lookAt.setLatitude(point.getLatitude());
lookAt.setLongitude(point.getLongitude());

//zoom speed and range
ge.getOptions().setFlyToSpeed(.5);
lookAt.setRange(500000.0)

// Update the initial view in Google Earth.
ge.getView().setAbstractView(lookAt);

}
    
function setNewTweet(query){
//Time to pull in some geocoded tweets
var currentHref = window.location.href.slice(0,-10);
var href = currentHref+"kml/"+query+'';
//var href = 'http://192.168.1.8:3000/kml/'+query+'';
console.log(href);
var networkLink = ge.createNetworkLink("");
networkLink.setDescription("NetworkLink open to fetched content");
networkLink.setName("Open NetworkLink");
networkLink.setFlyToView(true);  

// create a Link object
var link = ge.createLink("");
link.setHref(href);

// attach the Link to the NetworkLink
networkLink.setLink(link);

// add the NetworkLink feature to Earth
ge.getFeatures().appendChild(networkLink);
}

//function I setup to pull the latest tweet mentioning this searchterm
//setNewTweet("obama");
    
  </script>
</head>
<body style="margin: 0; padding: 0; background-color: black; font-family: Helvetica; font-size: 90%; overflow:hidden;">

<div id="storeNews" style="visibility:hidden; height:1px; width:1px;"></div>

<div id="left" style="width: 350px; height:1080px; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar">
    <div id="googleTechNews"></div>
</div>

<div id="top" style="float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar">
    <div id="map3d" style="height: 524px; width: 796px;"></div>
</div>


<div id="slideshow" style="float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar">
</div>
<div id="right" style="width: 390px; float: left; padding: 10px; position:absolute; right:0px" class="ui-widget-content ui-corner-all dragStar">
    <div class="basic-title" style="padding-left:2px; padding-top:2px;"><span style="color:#222222; font-size:16; font-weight:normal; line-height:18px;">Cybersecurity Tweets</span></div>
    <div id="tweets"></div>
</div>

<div id="bottom" style="width: 100%; float: left; padding: 10px; height:20px; position:absolute; bottom:-4px" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div style="padding-left:2px; padding-top:2px; width:136px; float:left;"><span style="color:#dd3333; font-size:16; font-weight:bold;">#Breaking News</span></div>
    <div id="news" style="font-size:20; float:right; width:1450px;"><marquee behavior="scroll" direction="left" scrollamount="8" height=10px width="98%"></marquee></div>
</div>

<div id="hidden" style="width: 25%; float: left; padding: 10px; visibility:hidden;">
    <div id="googleTrends"></div>
</div>

</body>
</html>
