<html>
<head>
<title>G2 Real-Time Information Wall</title>
<style>
    #draggable { width: 150px; height: 150px; padding: 0.5em; }
    </style>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/themes/dark-hive/jquery-ui.css" rel="Stylesheet" />    
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"/></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"/></script>
    <script>
    var geoTweets = {};
    
    $(function() {
        $(".dragStar").draggable();
        $(".resizeStar").resizable();
        $("#storeNews").load("./googleTopTechNews");
        $("#tweets").load("./tweets/DoD");
<<<<<<< HEAD
        $("#gohere").load("./twitter-earth");
=======
        $("#news marquee").load("./news");
        //$("#news").marquee(); //perhaps later
>>>>>>> seemless/master
        //$("#googleTrends").load("./googleTop10Trends"); perhaps later        
                
        //lets grab some tweets for use in gearth
       $.ajax({     
  url: './geoTweets/cybersecurity',
  dataType: 'json'
}).done(function( data ) {
  geoTweets = data;
});

        
        //give the above time to load before populating the left pane, this is a super hack but I dont have time to parse this properly in JS
        setTimeout(function() {
        $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
        $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
        },3000);
        
        //refresh tweeties every 60 seconds  (in the future we'll probably want to do multiple pages per refresh to ensure no duplicare reloads.)
        setInterval(function() {
             $("#tweets").fadeOut();
             $("#tweets").load("./tweets/DoD");
             $("#tweets").fadeIn();
            }, 60000);

        setInterval(function() {
          $("#news marquee").load("./news");
          //$("#news").marquee();
          console.log("in update");
        }, 60000);



        //refresh google news every 1 hour
        setInterval(function() {
            $("#storeNews").load("./googleTopTechNews");
            $("#googleTechNews").fadeOut();
            $("#googleTechNews").html('');
            $("#s_INTERESTING").clone().appendTo($("#googleTechNews"));
            $("#s_POPULAR").clone().appendTo($("#googleTechNews"));
            $("#googleTechNews").fadeIn();
            }, 600000)


        
	});
	</script>
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
    var ge;
    google.load("earth", "1");
    
    function init() {
      google.earth.createInstance('map3d', initCB, failureCB);
    }

    function initCB(instance) {
      ge = instance;
      ge.getWindow().setVisibility(true);
      newPoint(ge,39.4,-76.6);
    }

    function failureCB(errorCode) {
    }

    google.setOnLoadCallback(init);
   
    
    
    
function newPoint(ge,lat,lon){
    
// Create the placemark.
var placemark = ge.createPlacemark('');
placemark.setName("G2, Inc.");

// Define a custom icon.
var icon = ge.createIcon('');
icon.setHref('http://g2-inc.com/sites/all/themes/g2website/images/g2logo.png');
var style = ge.createStyle('');
style.getIconStyle().setIcon(icon);
style.getIconStyle().setScale(3.0);
placemark.setStyleSelector(style);

// Set the placemark's location.  
var point = ge.createPoint('');
point.setLatitude(lat);
point.setLongitude(lon);
placemark.setGeometry(point);

// Add the placemark to Earth.
ge.getFeatures().appendChild(placemark);

// Get the current view.
var lookAt = ge.getView().copyAsLookAt(ge.ALTITUDE_RELATIVE_TO_GROUND);

// Set new latitude and longitude values.
lookAt.setLatitude(point.getLatitude());
lookAt.setLongitude(point.getLongitude());

//zoom speed and range
ge.getOptions().setFlyToSpeed(.5);
lookAt.setRange(500000.0)

// Update the view in Google Earth.
ge.getView().setAbstractView(lookAt);

}
    
    
  </script>
  
  <title>Sample</title>
</head>
<body style="margin: 0; padding: 0; background-color: black; font-family: Helvetica; font-size: 90%;">

<div id="storeNews" style="visibility:hidden; height:1px; width:1px;"></div>

<div id="wrapper1" style="width: 350px; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="googleTechNews"></div>
</div>

<div id="wrapper2" style="float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="map3d" style="height: 600px; width: 760px;"></div>
</div>

<div id="wrapper3" style="width: 390px; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="tweets"></div>
</div>

<div id="wrapper4" style="width: 25%; float: left; padding: 10px; visibility:hidden;" class="ui-widget-content ui-corner-all dragStar resizeStar">
    <div id="googleTrends"></div>
</div>
<div id="wrapper5" style="width: 25%; float: left; padding: 10px;" class="ui-widget-content ui-corner-all dragStar resizeStar">

    <div id="news"><marquee behavior="scroll" direction="left" scrollamount="4" width="90%"></marquee></div>
</div>

</body>
</html>

