!!!
html
  head
    title twitter
  body
    h1 twitter Updates
    ul.data

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js')
    script(src='http://jquery-json.googlecode.com/files/jquery.json-2.2.min.js')
    script(type='text/javascript')
      var source = new EventSource('/ozone/streamTweets/yankees');
      
      source.addEventListener('message', function(e) {
        var obj = JSON.parse(e.data)
        console.log(obj);
        $('ul').append('<li>' + obj.text+ '</li>');
      }, false);
